.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
*.pth
**/__pycache__/**
.ipynb_checkpoints/
datasets/data/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
logs
jobs
subs
tmp
*.sub
vis/
model_zoo/
model_zoo_old/
scripts/
*.txt
*.csv
*.jpg
*.jpeg
*.png
analysis_results/
cityPerson/
find_model_mr.py
find_model_mr_caltech.py
models/dino/ops/build
models/dino/ops/dist
plot_bbox.py
segrigate_caltech.py
understand_model.py
wrapper.py
calculate_MR.py
calculate_MR_caltech.py
models/dino/ops/MultiScaleDeformableAttention.egg-info/
